body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #091921, #1e3c57);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 3rem;
  margin-top: 20px;
  letter-spacing: 2px;
  color: #f0f0f0;
  text-shadow: 0px 0px 10px #000;
}

.container h3 {
  font-size: 1.3rem;
  margin-top: 5px;
  color: #cfd9e8;
}

.highscore {
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(6px);
  display: inline-block;
}
#highscore {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.line1,
.line2 {
  display: flex;
}

.btn {
  height: 180px;
  width: 180px;
  margin: 20px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);

  transition: all 0.15s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
}

/* COLOR THEMES */
.red {
  background: #d95980;
}
.yellow {
  background: #f99b45;
}
.green {
  background: #36d97e;
}
.blue {
  background: #4b8bff;
}

.flash {
  background-color: white !important;
  box-shadow: 0 0 25px white;
}

.userflash {
  filter: brightness(1.4);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .btn {
    height: 130px;
    width: 130px;
    margin: 15px;
    font-size: 1.5rem;
  }

  .container h1 {
    font-size: 2.5rem;
  }
}
